.git/
.github/
.gitignore
.dockerignore
Dockerfile

# Clojure
pom.xml
pom.xml.asc
*.jar
*.class
lib/
classes/
test/
target/
checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

# Documentation
LICENSE
README.md

# Prettier
node_modules/
package.json
yarn.lock

# Tags
tags*

# Binary
into
