#kaocha/v1
{:tests [{:id :unit,
          :kaocha.filter/skip-meta #profile {:default [:docker :flow]
                                             :ci      []}}
         {:id :unit+docker
          :kaocha.filter/skip-meta [:flow]}
         {:id :all}]
 :reporter #profile {:default  kaocha.report/dots
                     :ci       kaocha.report/documentation}
 :plugins  #profile {:default  []
                     :coverage [:kaocha.plugin/cloverage]
                     :ci       [:kaocha.plugin/cloverage]}

 :cloverage/opts
 {:exclude-call [into.log/info
                 into.log/debug
                 into.log/trace
                 into.log/warn
                 into.log/emph
                 into.log/error]
  :ns-exclude-regex ["^into\\..+\\.spec$"]
  :codecov? #profile {:default false, :ci true}
  :html? #profile {:default true, :ci false}}}
