{:lint-as {into.flow/with-flow->                   clojure.core/->
           into.log/deflog                         clojure.core/def
           potemkin/defprotocol+                   clojure.core/defprotocol
           peripheral.core/with-start              clojure.core/let
           peripheral.core/defcomponent            clojure.core/defrecord
           clojure.test.check.properties/for-all   clojure.core/let
           clojure.test.check.clojure-test/defspec clojure.test/deftest}}
