{:lint-as {into.flow/with-flow->                   clojure.core/->
           into.log/deflog                         clojure.core/def
           into.docker.tar/with-gz-open            clojure.core/with-open
           into.test.files/with-temp-dir           clojure.core/let
           potemkin/defprotocol+                   clojure.core/defprotocol
           peripheral.core/with-start              clojure.core/let
           peripheral.core/defcomponent            clojure.core/defrecord
           clojure.test.check.properties/for-all   clojure.core/let
           clojure.test.check.clojure-test/defspec clojure.test/deftest}
 ;; for some reason, clj-kondo does not pick up this variable
 :linters {:unresolved-var {:exclude [clojure.spec.gen.alpha/string-alphanumeric]}}}
