name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint-clojure:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: DeLaGuardo/clojure-lint-action@master
        with:
          clj-kondo-args: --lint src
          check-name: clj-kondo
          github_token: ${{ secrets.GITHUB_TOKEN }}

  lint-others:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: setup-node
        uses: actions/setup-node@v1
        with:
          node-version: 10
      - name: install-prettier
        run: npm install
      - name: run-prettier
        uses: samuelmeuli/lint-action@v1
        with:
          github_token: ${{ secrets.github_token }}
          prettier: true

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: run-tests
        run: lein ci
      - name: upload-code-coverage-report
        uses: codecov/codecov-action@v1
        with:
          file: target/coverage/codecov.json

  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: run-e2e-test
        run: sh test/e2e/test.sh
